<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/xximjasonxx/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="xximjasonxx" />
            <add key="ClearTextPassword" value="d3a6e51cde074df09b94aee0edef67302f271067" />
        </github>
    </packageSourceCredentials>
</configuration>
